* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;

  width: 100%;
  height: 100vh;

  background-color: #f6f6f6;

  justify-content: center;
  align-items: center;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 60%;

  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.song-input {
}

#audio-input {
  display: none;
}

#audio-trigger {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 5px;
  padding: 4px;
  font-size: 1.2rem;
}

#audio-trigger.active {  
  background: #1ca8ea;
  background: -webkit-linear-gradient(top left, #1ca8ea, #8049a2);
  background: -moz-linear-gradient(top left, #1ca8ea, #8049a2);
  background: linear-gradient(to bottom right, #1ca8ea, #8049a2);
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stop-watch {
  position: relative;

  display: flex;

  height: 50%;

  border-radius: 50%;
  background-image: conic-gradient(
    rgb(7, 53, 206) 360deg,
    rgb(237, 237, 237) 0deg
  );

  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
}

.stop-watch::before {
  width: 88%;

  content: "";

  border-radius: 50%;
  background-color: #fff;

  aspect-ratio: 1/1;
}

.stop-watch-data {
  font-size: 2rem;
  font-weight: bold;

  position: absolute;

  text-align: center;
}

.stop-watch-data input {
  font-size: 1.8rem;

  width: 25%;

  text-align: center;

  border: none;
  border-bottom: 2px solid #eee;
}

.stop-watch-data input:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[disabled] {
  color: black;
}

.error {
  font-size: 0.7rem;

  color: red;
}

button {
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;

  display: inline-block;

  box-sizing: border-box;
  min-height: 40px;
  padding: 12px 14px;

  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  text-transform: none;

  color: #fff;
  border-radius: 6px;
  outline: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;

  text-rendering: geometricprecision;
  touch-action: manipulation;
  margin-inline: 5px;
}

button:hover,
button:active {
  background-color: initial;
  background-position: 0 0;
}

button:active {
  opacity: 0.5;
}

.play-btn {
  border: 1px solid #5bd35b;
  background: #5bd35b;
}

.play-btn:hover,
.play-btn:active {
  color: #5bd35b;
}

.pause-btn {
  border: 1px solid #ff971f;
  background: #ff971f;
}

.pause-btn:hover,
.pause-btn:active {
  color: #ff971f;
}

.restart-btn {
  border: 1px solid #ff4742;
  background: #ff4742;
}

.restart-btn:hover,
.restart-btn:active {
  color: #ff4742;
}

@media (min-width: 35em) {
  .main-container {
    width: 70%;
  }
}

@media (min-width: 45em) {
  .main-container {
    width: 50%;
  }
}
